<p class="join-or-create">You aren't a member of any organization. Join an existing one or create a new one!</p>

<h2>Organizations</h2>
<ul class="org-list">
  <% for org in Organization.order(created_at: :desc).all %>
    <li>
      <%= org.name %>
      <%= link_to "Edit", edit_organization_path(:id => org.id) %>
      <%= link_to "Join", join_org_path(:id => org.id), :method => :put %>
    </li>
  <% end %>
</ul>

<h2>Create Organization</h2>
<%= form_with model: @organization, local: true do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.label "Hourly Rate $" %><br/>
  <%= f.number_field :hourly_rate, in: 1..1000000, step: 1, placeholder: "0"%>
  <p class="btn"> <%= f.submit "Create & Join!" %></p>
<% end %>