<!DOCTYPE html>
<html>
  <head>
    <title>AdnatRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/"><h1>Adnat</h1></a>
    <div class="nav-container">
      <% if current_user %>
        Logged in as <b><%= current_user.name %></b><br/>
        <%= link_to "Logout", logout_path %>
        <%= link_to "Edit", edit_user_path(:id => current_user.id) %>
      <% end %>
    </div><br/>
    <% flash.each do |name, msg| %>
      <div class="flash-errors"><%= msg %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
